<!-- <app-groups></app-groups> -->

<p>A data template example:</p>

<ng-template #type1 let-data="state">
	<p>This is the first type of template with data: {{data.name}}</p>
</ng-template>

<ng-template #type2 let-data="state">
	<p>This is the second type of template with data: {{data.name}}</p>
</ng-template>

<mat-selection-list #shoes [multiple]="false" (selectionChange)="onSelectionChanged(shoes.selectedOptions.selected[0])">
	<mat-list-option *ngFor="let item of items"
		[value]="item.type">
		<app-type-template-selector
			[type0Template]="type1"
			[type1Template]="type2"
			[state]="item"
			>

		</app-type-template-selector>
	</mat-list-option>
</mat-selection-list>

<p>
  Option selected: {{shoes.selectedOptions.selected[0]?.value}}
</p>

<p>String format example:</p>
{{
	'string with parameters: {0}, {1}' | stringFormat
		: 'param1'
		: 'param2'
}}