<!-- <app-groups></app-groups> -->

<ng-template #type1 let-data="data">
	<p>This is the first type of template with data: {{data}}</p>
</ng-template>

<ng-template #type2 let-data="data">
	<p>This is the second type of template with data: {{data}}</p>
</ng-template>

<mat-selection-list #shoes [multiple]="false" (selectionChange)="onSelectionChanged(shoes.selectedOptions.selected[0])">
	<mat-list-option *ngFor="let item of items"
		[value]="item.type">
		<app-type-template-selector
			[type1Template]="[type1, type2]"
			[type2Template]="type2"
			[type]="item.type"
			[data]="item.data"
			>

		</app-type-template-selector>
	</mat-list-option>
</mat-selection-list>

<p>
  Option selected: {{shoes.selectedOptions.selected[0]?.value}}
</p>